// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

//ul, ol { &, ul, ol { margin-left: 3em; }}
$max-w: 920px;
#main, { max-width: $max-w; }
body > footer,
body > nav ul.main-navigation {
  margin: 0 auto !important;
  padding-left: $pad-min;
  padding-right: $pad-min;
  @media only screen and (min-width: 480px) {
    padding-left: $pad-narrow;
    padding-right: $pad-narrow;
  }
  @media only screen and (min-width: 768px) {
    padding-left: $pad-medium;
    padding-right: $pad-medium;
    max-width: $max-w - $pad-medium*2;
  }
  @media only screen and (min-width: 992px) {
    padding-left: $pad-wide;
    padding-right: $pad-wide;
    max-width: $max-w - $pad-wide*2;
  }
}
html { background: $noise-bg $main-bg; }
body > nav {
  padding: 0 !important;
  ul.main-navigation {
    float: none !important;
    display: block;
    padding: {top: .4em; bottom: .4em;}
    a {
      float: left;
      text-decoration: none;
      font-size: 1.1em;
      padding: .1em 0;
      line-height: 1.5em;
    }
  }
  a[href='/']{
    @include replace-text-with-dimensions('logo.png');
    height: image-height('logo.png')/2;
    background-position: top;
    padding: 0 !important;
    margin: 0 !important;
    &:hover { background-position: bottom; }
  }
  z-index: 100;
  @include box-shadow(rgba(#000, .1) 0 1px 1px);
  background: #fff; border: 0;// { left: #eee 1px solid; right: #eee 1px solid; bottom: 0; }
}
figure.code, pre {
  border: 1px solid #e5e5e5;
  @include box-shadow(rgba(#000, .06) 0 0 10px);
  div.highlight {
    pre { border: 0; @include box-shadow(none); }
    border: 0;
    code { border: none !important; }
  }

}
body > footer { background: none; }
body > header,
body > nav .subscription,
body > nav form,
figure.code figcaption,
aside.sidebar,
.toggle-sidebar,
{
  display: none;
}
#content { border: none; margin: 0;}

@media only print {
  //.heading, .serif { font-family: "Baskerville"; }
  a:link { text-decoration: none; color: #000; }
  html {
    background-image: none !important;
    background: #fff !important;
    body {
    padding: 0 20px;
    font-size: 13px;
    }
  }
  * {
    background: #fff !important;
  }
  pre { @include border-radius(0); }
  h2 { 
    border-top: 1px dashed #aaa;
    page-break-before: always;
   }
  #main { border: none; }
  #main #content article { padding: 0; }
  #main #content figure.code, #main #content pre {
    border: 1px solid #ddd;
    border: {left: 0; right: 0;}
    * {
      // color: #000 !important;
      background: #fff !important;
      border: 0px !important;
      @include box-shadow(none);
      text-shadow: none !important;
      &.c, &.cm, &.cp, &.c1, &.cs {
        // color: #888 !important;
      }
      &.line-number {
        color: #888 !important;
      }
    }
  }
  #content { margin: 0; border: 0;}
  .toggle-sidebar { display: none; }
  body > footer { display: none; }
  aside.sidebar { display: none; }
  body > nav { display: none; }
  figure.code { * {font-size: 11px !important;} @include box-shadow(none); }
  .opinion, .note { @include box-shadow(none); }
}

.opinion, .note {
  position: relative;
  padding: 2.2em .8em .6em;
  margin-bottom: 1.5em;
  background: #fff;
  color: #666;
  font-size: .9em;
  @include box-shadow(rgba(#000, .06) 0 0 10px);
  *:last-child { margin-bottom: 0; }
}

.terminal {
  background: #333;
  color: #DDD;
  padding: 10px;
  
}
.window {
  margin: 0px auto;
}
.window h1 {
  margin: 0px;
}

.opinion:before, .note:before {
  text-shadow: #fff 0 1px;
  font-size: .7em;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  padding: .1em 1em;
  position: absolute; top: 0; left: 0; right: 0;
  text-transform: uppercase;
  color: $text-color-light;
}
.opinion {
  border-left: 3px solid lighten(#268bd7, 15%);
  &:before { content: "Opinion"; }
}

.note {
  border-left: 3px solid adjust-color(#268bd7, $hue: -155, $lightness: 15%);
  &:before { content: "Note"; }
}

.slide-out-div {
  padding: 20px;
  width: 250px;
  background: #EEE;
  border: 5px solid #FFF;
  font-size: 90%;
  line-height: 120%;
}   
.slide-out-div li{
  margin: 5px;
}

@media only screen
and (max-width : 1024px) {
  .slide-out-div {
    visibility:hidden;
  }
}



/*-----------------------------------------------------------------------------------*/
/*	01.	Window
/*-----------------------------------------------------------------------------------*/

.window {
  border: 1px solid #777;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
  background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
  border-radius: 5px;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 50px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index:0;
  visibility:hidden;
  opacity:0;
  visibility:visible;
  opacity:1;
  margin-bottom: 30px;
}

.container {
  border-top:1px solid #656565;
}

h1.titleInside {
  position:relative;
  z-index:2;
  color:#3c3c3c;
  font-size:13px;
  line-height:21px;
  text-decoration:none;
  text-shadow: 0 1px 1px #e7e7e7;
  text-align:center;
  text-transform:capitalize;
}

nav.control-window {
  float: left;
  padding: 2px 0px 0px 10px;
  left:5px;
  top:3px;
  z-index:10;
  height:19px;
}

nav.control-window a {
  display: inline-block;
  margin: 2px 0px 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  text-indent: -9999px;
  position: relative;
}
nav.control-window a:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
nav.control-window a:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}
nav.control-window a.close {
  background: #FD4E4E;
}
nav.control-window a.minimize {
  background: #F3BB55;
}
nav.control-window a.maximize {
  background: #96D16F;
}
nav.control-window a.deactivate {
  background: #b5b5b5;
}